{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- 1) General Payslip Details -->
        <div class="col-md-6">
            <p>NAME: {{ payslip.id_number.name }}</p>
            <p>ID NUMBER: {{ payslip.id_number.id_number }}</p>
        </div>
        <div class="col-md-6 text-right">
            <p>DATE: {{ payslip.month }} {{ payslip.date_range }}, {{ payslip.year }}</p>
            <p>PAYSLIP ID: {{ payslip.pk }}</p>
        </div>
    </div>

    <hr>
    
    <div class="row mt-4">
        <div class="col-md-8">
            <!-- 2) Earnings -->
            <h5>EARNINGS:</h5>
            <div class="d-flex justify-content-between">
                <span>Base Pay</span>
                <span>{{ payslip.getCycleRate }}</span>
            </div>
            <div class="d-flex justify-content-between">
                <span>Allowances</span>
                <span>{{ payslip.earnings_allowance }}</span>
            </div>
            <div class="d-flex justify-content-between">
                <span>Overtime</span>
                <span>{{ payslip.overtime }}</span>
            </div>
            <br>
            <div class="d-flex justify-content-between font-weight-bold">
                <span>GROSS PAY</span>
                <!-- Gross pay = Cycle Rate + Allowance + Overtime -->
                <span>PHP {{ payslip.getCycleRate|add:payslip.earnings_allowance|add:payslip.overtime }}</span>
            </div>
            
            <br><br>

            <!-- 3) Deductions -->
            <h5>DEDUCTIONS:</h5>
            <div class="d-flex justify-content-between">
                <span>W/HOLDING TAX</span>
                <span>{{ payslip.deductions_tax }}</span>
            </div>
            
            <!-- Conditional Rendering based on Cycle -->
            {% if payslip.pay_cycle == 1 %}
                <div class="d-flex justify-content-between">
                    <span>PAG-IBIG</span>
                    <span>{{ payslip.pag_ibig }}</span>
                </div>
            {% elif payslip.pay_cycle == 2 %}
                <div class="d-flex justify-content-between">
                    <span>PHILHEALTH</span>
                    <span>{{ payslip.deductions_health }}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>SSS</span>
                    <span>{{ payslip.sss }}</span>
                </div>
            {% endif %}
            <br>
            <div class="d-flex justify-content-between font-weight-bold">
                <span>TOTAL DEDUCTIONS</span>
                <span>PHP {{ payslip.getCycleRate|add:payslip.earnings_allowance|add:payslip.overtime|add:"-"|add:payslip.total_pay }}</span>
            </div>

            <br><br>

            <!-- 4) Net Pay (Bold) -->
            <div class="d-flex justify-content-between font-weight-bold" style="font-size: 1.2em;">
                <span>NET PAY:</span>
                <span>PHP {{ payslip.total_pay }}</span>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h5 class="mt-4">AMOUNT</h5>
        </div>
    </div>
</div>
{% endblock %}